{{/* People Widget */}}

{{/* Initialise */}}
{{ $ := .root }}
{{ $page := .page }}
{{ $show_social := $page.Params.design.show_social | default false }}
{{ $show_interests := $page.Params.design.show_interests | default true }}
{{ $show_organizations := $page.Params.design.show_organizations | default false }}
{{ $show_role := $page.Params.design.show_role | default true }}

<div class="row justify-content-center people-widget">

  {{ with $page.Title }}
  <div class="col-md-12 section-heading">
    <h1>{{ . | markdownify | emojify }}</h1>
    {{ if $page.Params.subtitle }}
      <p>{{ $page.Params.subtitle | markdownify | emojify }}</p>
    {{ end }}
  </div>
  {{ end }}

  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}

  {{ range $page.Params.content.user_groups }}

    {{ $group := . }}

    {{ $query := where
        (where site.Pages "Section" "authors")
        ".Params.user_groups"
        "intersect"
        (slice $group)
    }}

    {{/* Sort Alumni by graduation year, newest first */}}
    {{ if eq $group "Alumni" }}
      {{ $query = $query.ByParam "graduation_year" }}
      {{ $query = $query.Reverse }}
    {{ end }}

    {{ if $query | and (gt (len $page.Params.content.user_groups) 1) }}
    <div class="col-md-12">
      <h2 class="mb-4">{{ $group | markdownify }}</h2>
    </div>
    {{ end }}


    {{/* SPECIAL LAYOUT FOR PRINCIPAL INVESTIGATOR */}}
    {{ if eq $group "Principal Investigator" }}

      <div class="col-12">
        <div class="row align-items-center justify-content-center pi-feature">

          <div class="col-12 col-md-4 pi-profile">

            {{ range $query }}

              {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}

              {{ $link := "" }}
              {{ with site.GetPage (printf "/authors/%s" (path.Base .File.Dir)) }}
                {{ $link = .RelPermalink }}
              {{ end }}

              {{ $src := "" }}

              {{ if site.Params.features.avatar.gravatar }}

                {{ $src = printf "https://s.gravatar.com/avatar/%s?s=270" (md5 .Params.email) }}

              {{ else if $avatar }}

                {{ $avatar_image := $avatar.Fill "400x400 Center" }}
                {{ $src = $avatar_image.RelPermalink }}

              {{ end }}

              {{ if $src }}

                {{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

                {{ with $link }}<a href="{{ . }}">{{ end }}
                  <img
                    width="400"
                    height="400"
                    loading="lazy"
                    class="avatar {{ if eq $avatar_shape "square" }}avatar-square{{ else }}avatar-circle{{ end }}"
                    src="{{ $src }}"
                    alt="{{ .Title }}"
                  >
                {{ if $link }}</a>{{ end }}

              {{ end }}

              <div class="portrait-title">

                <h2>
                  {{ with $link }}<a href="{{ . }}">{{ end }}
                  {{ .Title }}
                  {{ if $link }}</a>{{ end }}
                </h2>

                {{ if and $show_organizations .Params.organizations }}
                  {{ range .Params.organizations }}
                    <h3>{{ .name }}</h3>
                  {{ end }}
                {{ end }}

                {{ if and $show_role .Params.role }}
                  <h3>{{ .Params.role | markdownify | emojify }}</h3>
                {{ end }}

                {{ if $show_social }}
                  {{ partial "social_links" . }}
                {{ end }}

                {{ if and $show_interests .Params.interests }}
                  <p class="people-interests">
                    {{ delimit .Params.interests ", " | markdownify | emojify }}
                  </p>
                {{ end }}

              </div>

            {{ end }}

          </div>


<div class="col-12 col-md-8 pi-lab-photo-column">

  {{ $lab_photo := resources.Get "media/lab-photo.png" }}

  {{ with $lab_photo }}
    {{ $lab_photo_720 := .Resize "720x webp q82" }}
    {{ $lab_photo_1200 := .Resize "1200x webp q82" }}
    {{ $lab_photo_1600 := .Resize "1600x webp q82" }}
    <img
      class="pi-lab-photo"
      src="{{ $lab_photo_1200.RelPermalink }}"
      srcset="{{ $lab_photo_720.RelPermalink }} 720w, {{ $lab_photo_1200.RelPermalink }} 1200w, {{ $lab_photo_1600.RelPermalink }} 1600w"
      sizes="(max-width: 767px) 90vw, 60vw"
      width="{{ $lab_photo_1200.Width }}"
      height="{{ $lab_photo_1200.Height }}"
      alt="MEEP Lab"
      loading="eager"
      fetchpriority="high"
      decoding="async"
    >
  {{ end }}

</div>

        </div>
      </div>


    {{/* NORMAL LAYOUT FOR ALL OTHER GROUPS */}}
    {{ else }}

      {{ range $query }}

        {{ $avatar := (.Resources.ByType "image").GetMatch "*avatar*" }}

        {{/* Get link to user's profile page. */}}
        {{ $link := "" }}

        {{ with site.GetPage (printf "/authors/%s" (path.Base .File.Dir)) }}
          {{ $link = .RelPermalink }}
        {{ end }}

        <div class="col-12 col-sm-6 col-lg-4 people-person">

          {{ $src := "" }}

          {{ if site.Params.features.avatar.gravatar }}

            {{ $src = printf "https://s.gravatar.com/avatar/%s?s=300" (md5 .Params.email) }}

          {{ else if $avatar }}

            {{ $avatar_image := $avatar.Fill "400x400 Center" }}
            {{ $src = $avatar_image.RelPermalink }}

          {{ end }}

          {{ if $src }}

            {{ $avatar_shape := site.Params.features.avatar.shape | default "circle" }}

            {{ with $link }}<a href="{{ . }}">{{ end }}
              <img
                width="400"
                height="400"
                loading="lazy"
                class="avatar {{ if eq $avatar_shape "square" }}avatar-square{{ else }}avatar-circle{{ end }}"
                src="{{ $src }}"
                alt="{{ .Title }}"
              >
            {{ if $link }}</a>{{ end }}

          {{ end }}

          <div class="portrait-title">

            <h2>
              {{ with $link }}<a href="{{ . }}">{{ end }}
              {{ .Title }}
              {{ if $link }}</a>{{ end }}
            </h2>

            {{ if and $show_organizations .Params.organizations }}
              {{ range .Params.organizations }}
                <h3>{{ .name }}</h3>
              {{ end }}
            {{ end }}

            {{ if and $show_role .Params.role }}
              <h3>{{ .Params.role | markdownify | emojify }}</h3>
            {{ end }}

            {{ if $show_social }}
              {{ partial "social_links" . }}
            {{ end }}

            {{ if and $show_interests .Params.interests }}
              <p class="people-interests">
                {{ delimit .Params.interests ", " | markdownify | emojify }}
              </p>
            {{ end }}

          </div>

        </div>

      {{ end }}

    {{ end }}

  {{ end }}

</div>
