{{ $tag_names := dict
  "physio" "Plant Physiology & Climate Adaptation"
  "molecbio" "Molecular Biology, Genomics & Gene Regulation"
  "ecoevo" "Reproductive Ecology & Evolution"
  "microbio" "Microbial Ecology & Symbiosis"
  "environhealth" "Environmental Health, Climate Justice & Public Science"
}}

{{ with .Params.tags }}
  <div class="article-tags">
    {{ range . }}
      {{ $full_name := index $tag_names . | default . }}
      <a href="{{ "/tag/" | relLangURL }}{{ . | urlize }}">{{ $full_name }}</a>
    {{ end }}
  </div>
{{ end }}
