{{ $cat := .Get "categories" }}
<ul class="project-list">
  {{ range where .Site.Pages "Type" "allprojects" }}
    {{ if in .Params.categories $cat }}
      <li>
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </li>
    {{ end }}
  {{ end }}
</ul>

{{ $category_names := dict 
    "physio" "Plant Physiology & Climate Adaptation" 
    "molecbio" "Molecular Biology, Genomics & Gene Regulation" 
    "ecoevo" "Reproductive Ecology & Evolution" 
    "microbio" "Microbial Ecology & Symbiosis" 
    "environhealth" "Environmental Health, Climate Justice & Public Science" }}

{{ range .Params.categories }}
  {{ $full_name := index $category_names . }}
  {{ if $full_name }}
    <span>{{ $full_name }}</span>
  {{ else }}
    <span>{{ . }}</span> <!-- Fallback to the short category name if not found -->
  {{ end }}
{{ end }}
