{{- define "main" -}}

{{ $paper := resources.Get "media/theme/paper_scraps_website_brown.png" }}
{{ $icon := resources.Get (printf "media/%s" .Params.world_icon) }}
<div class="universal-wrapper pt-3">
  <div class="moss-world-paper-header">
    {{ with $paper }}<img class="moss-world-paper" src="{{ .RelPermalink }}" alt="">{{ end }}
    <div class="moss-world-paper-content">
      {{ with $icon }}<img class="moss-world-stamp" src="{{ .RelPermalink }}" alt="">{{ end }}
      <h1>{{ .Title }}</h1>
    </div>
  </div>
</div>

<div class="universal-wrapper">
  {{ with .Content }}
    <div class="article-style">{{ . }}</div>
  {{ end }}

  {{ $paginator := .Paginate .Pages }}
  {{ range $index, $post := $paginator.Pages }}
    {{ partial "functions/render_view" (dict "page" $ "item" . "view" ($.Params.view | default "compact") "index" $index) }}
  {{ end }}

  {{ partial "pagination" . }}
</div>

{{- end -}}
